body {
    background-color: hsl(180, 90%, 90%);
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 0 auto;
}

.pixel {
    box-sizing: border-box;
    width: 6.25%;
    padding-top: 6.25%;
    border: dashed 1px hsl(0, 0%, 80%);
}
