body {
    background-color: hsl(180, 90%, 90%);
    text-align: center;
    font-family: sans-serif;
}

.container {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 0 auto;
}

.pixel {
    box-sizing: border-box;
    border: dashed 1px hsl(0, 0%, 80%);
}

.buttons {
    display: flex;
    width: 60%;
    max-width: 807px;
    margin: 10px auto;
}

#grid-btn {
    margin: 0 auto 0 0;
}

.background {
    background-color: hsl(0, 0%, 99%);
    margin-top: 30px;
    border: solid hsl(0, 50%, 40%) 10px;
    border-radius: 10px;
}

#etch {
    background-color: hsl(00, 60%, 55%);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    width: 80%;
    max-width: 900px;
    border-radius: 5%;
}

.btn {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    border: 0;
    font-weight: bold;
    font-size: 16px;
    transition-duration: 0.2s;
}

.btn:hover {
    background-color: hsl(20, 60%, 70%);
}