body {
    background-color: hsl(180, 90%, 80%);
    text-align: center;
    font-family: sans-serif;
}

.container {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 0 auto;
}

.pixel {
    box-sizing: border-box;
    border: 0;
}

.buttons {
    display: flex;
    width: 60%;
    max-width: 807px;
    margin: 10px auto;
}

#grid-btn {
    margin: 0 auto 0 0;
}

.background {
    background-color: hsl(0, 0%, 99%);
    margin-top: 30px;
    border: solid hsl(0, 50%, 40%) 10px;
    border-radius: 10px;
}

#etch {
    background-color: hsl(00, 70%, 55%);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    width: 80%;
    max-width: 900px;
    border-radius: 5%;
    box-shadow: -10px 10px 10px hsl(0, 70%, 20%);
}

.btn {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    border: 0;
    font-weight: bold;
    font-size: 16px;
    transition-duration: 0.2s;
    box-shadow: -6px 6px 8px hsl(0, 0%, 20%);
}

.btn:hover {
    background-color: hsl(58, 95%, 70%);
    color: hsl(0, 60%, 20%);
}

.title {
    color: hsl(58, 100%, 65%);
    font-style: italic;
    font-size: 45px;
    margin: 20px 0 0 0;
}

.color-btn {
    margin: 0 5px;
}

.reference {
    font-size: 16px;
    font-weight: bold;
}